@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Pen+Script&family=Varela+Round&display=swap');


.card-container>.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.card-container>.card>div>h4{
    font-family: 'Bangers', cursive;
    /* color: rgb(21, 7, 212); */
    color: rgb(77, 136, 9);
    color: linear-gradient(90deg, rgba(136,9,9,0.8673844537815126) 4%, rgba(17,3,106,1) 100%, rgba(252,176,69,1) 100%);
}

.card-container>.card>div>img{
    margin-top: 0.3rem;
    width: 200px;
    height: 200px;
    border-radius: 30%;
}

.card-container>.card>div>img.visible{
    opacity: 1;
    transform: scale(1);
    transition: .7s ease-in-out all;
}

.card-container>.card>div>button{
    margin-top: 0.3rem;
    background: rgb(136,9,9);
    background: linear-gradient(90deg, 
    rgba(136,9,9,0.8673844537815126) 4%, 
    rgba(17,3,106,1) 100%, 
    rgba(252,176,69,1) 100%);
    padding: 0.4rem;
    border: none;
    border-radius: 0.4rem;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bolder;
    color: #fff;
}

